.nav-ul li{
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
}
.logo{
  width: 45px;
  float: left;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 5px;
}
.invalid-input{
  margin-top: -20px;
  color: red;
  margin-left: -200px;
  display: block;
}
.nav-ul{
  padding: 5px;
  background-color: lightslategray;
  margin: 0;
  height: 80px;
}
.navb{
  width: 100%;
}

.nav-ul li a{
  text-decoration: none;
  padding: 5px;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-rt{
  text-align: right !important;
}

.foot{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: lightslategray;
  color: white;
}
h4, h6 {
  line-height: 0.2;
}

.inputBox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 2px solid lightslategray;
  border-radius: 5px;
}
.register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login, .prd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appbutton{
  width: 200px;
    padding: 0.7%;
    border: none;
    background-color: lightslategray;
    color: white;
}

.product-list{
  text-align: center;
  margin-top: 50px;
}

.product-list ul li{
  display: inline-block;
  border: 1px solid grey;
  padding: 5px;
  width: 150px;
}
.product-list ul
{
  margin: 0;
}

.search-product-box{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 1px solid grey;
  padding-left: 20px;
}